* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.header a {
  color: white;
}

.vrh-3 a,
.vrh-2 a {
  color: black;
}

.vrh-2 a:hover {
  color: #29aae1;
}

.vrh-2 form {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;
  /* This bit draws the box around it */
  border-bottom: 1px solid #b1acac;
  padding: 2px;
  height: 50px;
}

.vrh-2 input {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border: none;
  font-style: italic;
  font-size: 0.9rem;
  color: #7f7f7f;
  padding-left: 5px;
}

.vrh-2 input:focus {
  background-color: #f8f6f6;
  outline: none;
}

.vrh-2-1 button {
  border: none;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: black;
  height: 40px;
  font-size: 0.85rem;
}

.header div {
  color: white;
  flex-grow: 1;
}

.header-2 {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding-left: 20px;
}

.header-1,
.header-2,
.header-3,
.header-4,
.header-5,
.header-6,
.header-7,
.header-9 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.header .header-8 {
  flex-grow: 3;
}

p {
  position: relative;
  top: 41px;
}

.header-2 .header-2-a,
.header-3 .header-3-a,
.header-4 .header-4-a,
.header-5 .header-5-a,
.header-9 .header-9-a {
  flex-grow: 1;
}

.header-2 .header-2-b,
.header-3 .header-3-b,
.header-4 .header-4-b,
.header-5 .header-5-b,
.header-9 .header-9-b {
  flex-grow: 4;
}

a:hover {
  color: grey;
}

.vrh {
  display: flex;
  top: 41px;
  position: relative;
  margin-left: 90px;
  margin-right: 90px;
  height: 130px;
}

.vrh-1 {
  flex-basis: 45%;
  align-items: center;
  display: flex;
}

.vrh-2 {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.vrh-3 {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vrh-2-2 {
  display: flex;
}

.vrh-2-2 > div {
  flex-grow: 1;
  font-weight: bold;
}

.image-1 {
  position: relative;
  top: 41px;
  width: 100%;
  height: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.vrh-2-2-1:hover .dropdown-content {
  display: block;
}

.main-1 {
  position: relative;
  top: 41px;
  display: flex;
  height: 130px;
  margin: 10px 10px;
}

.main-1-1,
.main-1-2,
.main-1-3,
.main-1-4 {
  flex-grow: 1;
}

.main-1-1 {
  background-image: url("./images/Konzole.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
